fastapi
uvicorn

sqlalchemy
psycopg2-binary

python-dotenv
pydantic
pydantic-settings

# Firebase token verification
google-auth

requests

# Security/JWT (optional, you keep them for compatibility)
python-jose
passlib[bcrypt]

# CORS
fastapi[all]
